*

# Except this file
!.gitignore
!timelapse_projection2019.ipynb
!well.ipynb
!notebook_functions.py
!spatial-time-correlation.ipynb
!spatial-time-correlation-2.ipynb
!spatial-time-correlation-3.ipynb
!intensities-embedding.ipynb